body, html{
	margin: 0px;
	padding: 0px;
	height: 100%;
}

.barraSuperior{
	background-color: #007399;
	display: inline-block;
	width: 100%;
	height: 60px;
}


.contenedor{
	display: flex;
	flex-direction: row;
	height: 92%;
}

.barraIzquierda{
	background-color: #f4f4f4 ;
	display: inline-block;
	height: 100%;
	flex-grow: 1;
}

.contenido{
	background-color: #a000ff;
	display: inline-block;	
	height: 100%;
	flex-grow: 6;
}

